@model Finances.Entities.User
<br />
@using (Html.BeginForm("Save", "Users", FormMethod.Post))
{
    @Html.HiddenFor(u => u.id)
    @Html.LabelFor(u => u.name, "Nome")
    @Html.TextBoxFor(u => u.name, new { @class = "form-control" })
    @Html.ValidationMessageFor(u => u.name)

    @Html.LabelFor(u => u.email, "E-mail")
    @Html.TextBoxFor(u => u.email, new { @class = "form-control" })
    @Html.ValidationMessageFor(u => u.email)

    <br />
    <div id="actions" class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Salvar</button>
      <a href="/Users" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
    </div>
  </div>
}